:root {
    --text-color: #f6f6f6;

    --text-bg-color: rgba(206, 227, 221, 0.8);
}

html {
    box-sizing: border-box;
    font-size: 16px;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
}

ol,
ul {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}



.container {
    display: flex;
    height: 90%;
    width: 90%;
    flex-direction: column;

}

.img-container {
    flex: 1;
}

/* Image and logo */


.img-container {

    height: 100%;
    background-image: url(../img/paradise-island.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    /* color: var(--text-color); */


    h1 {
        text-align: center;
        background-color: var(--text-bg-color);
        padding: 20px 0;
        margin-top: 50px;
    }

}

/*  Information and form  */
.info-container {
    flex: 1;
}

.info-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 16px;

    form {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
}



/* Media Querys */

@media (min-width: 700px) {
    .container {
        flex-direction: row;
    }
}